.display__block {
    display: block !important;
}

.display__flex {
    display: flex !important;
}

.display__flex--flags {
    /* justify content */
    
    &.--justify-center {
        justify-content: center;
    }

    &.--justify-start {
        justify-content: start;
    }

    &.--justify-end {
        justify-content: end;
    }

    &.--justify-around {
        justify-content: space-around;
    }

    &.--justify-between {
        justify-content: space-between;
    }

    &.--justify-evenly {
        justify-content: space-evenly;
    }

    /* flex dir */

    &.--row {
        flex-direction: row;
    }

    &.--col {
        flex-direction: column;
    }

    /* align center */

    &.--align-items-center {
        align-items: center;
    }
}

.display__none {
    display: none !important;
}

@each $breakpoint, $size in $breakpoints {
    @include above($breakpoint) {
        .display-#{$breakpoint}__none {
            display: none !important;
        }


        .display-#{$breakpoint}__block {
            display: block !important;
        }

        .display-#{$breakpoint}__flex {
            display: flex !important;
        }
    }
}