.typo-flags {
    &.--align-center {
        text-align: center;
    }

    &.--bold {
        font-weight: bold;
    }

    &.--medium {
        font-weight: 500;
    }

    &.--light {
        font-weight: 300;
    }

    &.--italic {
        font-style: italic;
    }

    &.--normal {
        font-style: normal;
    }

    &.--primary {
        font-family: font-family(primary);
    }

    &.--highlight {
        font-family: font-family(highlight);
    }

    &.--letter-spacing-wide {
        letter-spacing: 0.3px;
    }
}

// .typo__ {

// }