.home-stage {
    background-color: color(light-text, 5);
    z-index: 0;
    position: relative;
}

.home-stage__featured-project {
    align-items: center;
    position: relative;

    @include above(tablet) {
        height: 100vh;
    }
}

.home-stage__quote {
    @include padding(16, top);
    @include padding(12, bottom);

    .home-stage__quote-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        h3 {
            @include margin(2, bottom);

            text-align: center;
        }

        @include above(phone) {
            width: 75%;
            margin: 0 auto;
        }
    }

}

.home-stage__project-image {
    @include above(tablet) {
        height: calc( 90vh - ((40px + 3rem) * 2) ); // 100vh - navigation * 2
    }
}

.home-stage__project-text {
    @include padding(8, top);
    @include padding(2, right);

    > span:first-child {
        @include margin(2, bottom);

        display: block;
    }

    h1, h2 {
        @include font-size(7);
    }

    h2 {
        @include margin(3, bottom);
    }

    .hover-link {
        span:first-child {
            transform: none !important;
        }

        span:last-child {
            left: -0.5rem;
        }
    }

    @include below(tablet) {
        @include padding(10, top);
        @include padding(4, bottom);
        @include padding(0, right);

        > span:first-child {
            @include margin(1, bottom);
        }

        h2 {
            @include margin(1, bottom);
        }

        .hover-link {
            @include margin(1, top);
        }
    }
}

.home-stage__color-box {
    // display: none;

    background-color: color(highlight);
    z-index: z(background);

    position: absolute;
    // top: calc(40px + 3rem); // navigation height
    top: 0;
    right: 0;
    width: 45%;
    height: 100vh;
    //height: calc( 100vh - ((40px + 3rem) * 2) ); // 100vh - navigation * 2
}