.project-masonry {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -1rem;

    @include below(phone) {

        // @include margin(-2, left);
        // @include margin(-2, right);
    }
}

.project-masonry__item {
    padding: 0 1rem;
    
    width: 50%;
    list-style: none;

    img {
        display: block;
        width: 100%;

        padding-bottom: 2rem;
    }
}

.project-masonry__item--offset {
    display: block;
    width: 50%;
    height: 100px;
}
