@font-face {
    font-family: "ff-tisa-web-pro";
    src: url("/static/fonts/ff-tisa-web-pro-100.woff2") format("woff2");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "ff-tisa-web-pro";
    src: url("/static/fonts/ff-tisa-web-pro-300.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "akagi-pro";
    src: url("/static/fonts/akagi-pro-300.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
}
    
@font-face {
    font-family: "akagi-pro";
    src: url("/static/fonts/akagi-pro-400.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "akagi-pro";
    src: url("/static/fonts/akagi-pro-400-italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
}
    
@font-face {
    font-family: "akagi-pro";
    src: url("/static/fonts/akagi-pro-500.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}
    
@font-face {
    font-family: "akagi-pro";
    src: url("/static/fonts/akagi-pro-700.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}
    