.huge-link {
    @include padding(4, left);
    @include padding(4, right);
    @include margin(2, bottom);

    display: block;
    width: min-content;
    position: relative;
    left: - padding(4);
    cursor: pointer;

    h1 {
        white-space: nowrap;
    }
}

.huge-link__grey-area {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color(light-text);
    opacity: 0.1;
    transform-origin: left;
    transform: scaleX(0);
}