.arrow-link {
    display: block;
    width: min-content;
    cursor: pointer;
    pointer-events: all;

    .hover-link {
        @include padding(1,top);
        @include padding(1.5,left);

        margin-left: - padding(1);

        * { font-weight: bold !important; }
    }
}

.arrow-link__arrow {
    display: inline-block;
    margin-right: 10px;
    width: 6px;
    height: 10px;
    position: relative;
    top: 1px;
    left: 5px;

    svg {
        vertical-align: unset;

        path {
            fill: color(light-text);
        }
    }
}