.small-link {
    @include padding(2, left);
    @include padding(2, right);
    @include margin(0.5, bottom);

    display: block;
    width: min-content;
    position: relative;
    left: - padding(2);
    cursor: pointer;

    a {
        font-weight: bold;
        text-transform: lowercase;
        white-space: nowrap;
    }
}

.small-link__grey-area {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: color(light-text);
    opacity: 0.1;
    transform-origin: left;
    transform: scaleX(0);
}