@mixin font($family: primary, $size: 0, $weight: regular) {
    @include font-size($size);

    font-family: font-family($family);
    font-weight: font-weight($weight);
}

@mixin font-size($size: text) {
    $set: font-size($size);
    $max: get($set, max);
    $min: get($set, min);

    $mid: ((( $max - $min ) / 2 ) + $min);

    @include up(desktop) {
        font-size: $max;
    }

    @include between(tablet, desktop ) {
        font-size: $mid;
    }

    @include down(tablet) {
        font-size: $min;
    }
}