.menu-button {
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    pointer-events: all;
    background: 0 0;
    outline: none;
    border: 0;
    z-index: z(foreground) + 1;
}


.menu-button__content {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

.menu-button__top, .menu-button__bot {
    position: absolute;
    width: 20px;
    height: 2px;
    background: color(dark-text);
}

.menu-button__top {
    top: 16px;
    left: 10px;
}

.menu-button__bot {
    left: 10px;
    bottom: 16px;
}

.menu-button--open {
    &::before {
        transform: rotate(45deg) translateY(4px);
    }

    &::after {
        transform: rotate(-45deg) translateY(-4px);
    }
}