.container {
    @include padding(6, left);
    @include padding(6, right);

    max-width: 1440px;
    margin: 0 auto;

    @include below(tablet) {
        @include padding(4, left);
        @include padding(4, right);
    }

    @include below(phone) {
        @include padding(2, left);
        @include padding(2, right);
    }
}

.row {
    width: 100%;
    display: flex;
}

.col {
    display: flex;
    height: min-content;
    width: 100%;
}

@function size-of-col($col-width) {
    @if $col-width == 12 {
        @return 100%;
    }

    @return $col-width * 8.3333333%;

}

@for $i from 1 through 12 {
    .col-#{$i} {
        @extend .col;
        width: size-of-col($i);
    }

    .offset-#{$i} {
        margin-left: size-of-col($i);
    }

    @each $bp-name, $bp-size in $breakpoints {
        .col-#{$bp-name}-#{$i} {
            @extend .col;

            @include above($bp-name) {
                width: size-of-col($i) !important;
            }

        }

        .offset-#{$bp-name}-#{$i} {
            @include above($bp-name) {
                margin-left: size-of-col($i) !important;
            }
        } 
    }
}