.navigation {
    @include padding(2, top);
    @include padding(2, bottom);

    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: z(foreground);
}

.navigation__content {
    position: relative;
    align-items: center;
    justify-content: space-between;
}