.menu-button {
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    pointer-events: all;
    background: 0 0;
    outline: none;
    border: 0;

    &::before, &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 2px;
        background: color(dark-text);
        transition: transition(transform);
    }

    &::before {
        top: 16px;
        left: 10px;
    }

    &::after {
        left: 10px;
        bottom: 16px;
    }

    span {
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
    }
}

.menu-button--open {
    &::before {
        transform: rotate(45deg) translateY(4px);
    }

    &::after {
        transform: rotate(-45deg) translateY(-4px);
    }
}