.menu{
    display: block;
    position: absolute;
    top: 0;
    z-index: z(foreground);
    transform: translateY(-100%);
    border: 1px solid red;
    height: 100vh;
    width: 100vw;
}

.menu__content {
    @include padding(8, top);

    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 80vh;
    max-height: 100vh;
    overflow: scroll;
    background-color: color(primary);

    @media screen and (max-height: 780px) {
        height: 100vh;
    }

    @include below(tablet) {
        @include padding(4, top);
    }

    @include below(tablet-small) {
        @include padding(2, top);
    }
}

.menu__backdrop {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    cursor: pointer;
    pointer-events: none;
}

.menu__content-col {
    @include margin(4, top);
}

.menu__topic {
    @include padding(1, top);
    @include padding(1, bottom);
    @include font(primary, 1, light);

    color: color(light-text);
    height: 40px;
    line-height: 1.6;

    &::before {
        @include margin(0.25, right);
        content: "\2014";
        color: color(light-text);
    }
}

.menu__place {
    @include margin(2, bottom);

    h4 {
        @include margin(0.25, bottom);
    }

    p {
        @include padding(2, left);
        @include font(primary, 0, light);
        white-space: no-wrap;
        line-height: line-height(extra);
    }
}

.menu__logo {
    height: 40px !important;
    width: 100%;
    align-items: center;
}